#inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#personalInput,
#experienceInput,
#educationInput {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px black ;
}

.top {
    display: flex;
    justify-content: space-between;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

ul,
li {
    list-style: none;
}

li {
    padding: 10px 5px 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dates {
    display: flex;
    gap: 5%;
}

.dates label {
    width: 47.5%;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.buttons button {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
}

button:last-child {
    background-color: dodgerblue;
}

.newItem svg {
    width: 20px;
}

textarea {
    height: 100px;
    padding: 10px;
}