#inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#personalInput,
#experienceInput,
#educationInput {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dates {
    display: flex;
    gap: 5%;
}

.dates label {
    width: 47.5%;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    padding: 10px;
}

textarea {
    height: 100px;
    padding: 10px;
}