#resume {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 20px;
    height: 900px;
}

#personal,
#education,
#experience {
    padding: 20px 50px 5px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#personal {
    background-color: lightsteelblue;
    padding: 30px 50px 30px 50px;
    align-items: center;
    gap: 15px;
}

#personalBar {
    display: flex;
    gap: 25px;
}

#personalBar p{
    display: flex;
    align-items: center;
    gap: 8px;
}

svg {
    width: 30px;
}

#resume h2 {
    background-color: lightgray;
    padding: 15px;
    text-align: center;
}

.items {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
}

.item {
    display: flex;
    gap: 10px;
    font-size: 18px;
}

.item .left,
.item .right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item .left {
    width: 25%;
}

.item .right {
    width: 80%;
}

.right p:first-child {
    font-weight: bold;
}