#resume {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 20px;
}

#personal,
#education,
#experience {
    padding: 20px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#personal {
    background-color: lightsteelblue;
    align-items: center;
}

#personalBar {
    display: flex;
    gap: 20px;
}

#resume h2 {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

.items {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.item {
    display: flex;
    gap: 10px;
}

/* every item in resume's right get 3rd div and add text-overflow*/