@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Serif, monospace;
}

input,
textarea {
    font-size: 15px;
}

h1 {
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 20px;
}

p {
    font-size: 15px;
}
/* fonts, fontsizng, font-elements in general */